.footer {
  padding-bottom: 60px;
  overflow: hidden;

  @media (max-width: 767px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 575px) {
    flex-direction: column;
  }
}

.footer__logo {
  @media (max-width: 575px) {
    margin-bottom: 20px;
    max-width: 100%;
  }
}

.footer__phone-box {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__phone-box-shadow {
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 200%;
  height: 200%;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #da381e 0%,
    rgba(218, 56, 30, 0) 100%
  );
  opacity: 0.3;
}

.footer__phone {
  display: block;
  margin-bottom: 5px;

  @include h3;
  color: white;

  &:hover,
  &:focus {
    color: white;
    text-decoration: underline;
  }
}

.footer__callback {
  background-color: transparent;
  border: 0px;
  padding: 0;

  @include h4;
  color: $red;
  text-align: center;
}
